:root {
--primary-font-family: 'Open Sans',
    sans-serif;
--secondary-font-family: 'Raleway', sans-serif;
--accent-color: #FF6C00;
--color-border-button: #FF6C00;
--color-light-title: #FFFFFF;
--color-header-light-btn: #FFFFFF;
--color-title-dark-btn: #303030;
--color-light-text: #9DA4BD;
--color-dark-text: #555555;
--color-subtitle: #c4c8d7;
--main-margin: 20px;

}

body {
    font-family: var(--primary-font-family)
}


/*========COMPONENTS===========*/
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

ul, ol {
    margin: 0;padding: 0;
}

img {
    display: block;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    font-family: var(--secondary-font-family);
    font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
}

.subtitle {
font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.subtitle::before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: currentColor;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.button {
   
    padding: 12px 20px;
    font-family: inherit;
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        cursor: pointer;
        min-width: 160px;
        background-color: transparent;
        border: 1px solid var(--accent-color);
        border-radius: 25px;

        transition: background-color 300ms ease;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
}
/*==========HEADER========*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.header-container {
 
display: flex;
align-items: center;

}

.header-nav {
display: flex;
align-items: center;
}

.logo-link {
    display: block;
    margin-right: 131px;
padding: 32px 0;
}

.menu-list {
display: flex;
}

.menu-link {
    padding: 32px 0;
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--color-header-light-btn);

        transition: color 300ms ease;
}
.menu-item:not(:last-child) {
    margin-right: 30px;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.header-contact-link {
    margin-left: auto;
    margin-right: 43px;
    padding: 32px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--color-header-light-btn);

    transition: color 300ms ease;
}
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}
.header-button {
    color: var(--color-header-light-btn);
}

/*========HERO======*/

.hero-container {
    display: flex;
}

.left-hero {
width: 100px;
}

.hero-list {
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
}

.left-hero-wrap {
display: flex;
align-items: flex-end;
}

.hero-list::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: rgba(48, 48, 48, 1);

}

.right-hero {
    padding: 208px 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/hero-img.jpg');
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-link {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--color-title-dark-btn);

        transition: color 300ms ease;

}
.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-subtitle {
    color: var(--color-subtitle);
    margin-bottom: var(--main-margin);
}
.hero-title {
    font-family: var(--secondary-font-family);
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--color-light-title);
    margin-bottom: var(--main-margin);
}
.hero-description {
    max-width: 360px;
    font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--color-light-text);
}
/*==========ABOUT========*/
.about-section {
    padding: 120px 0;
}
.about-container {
display: flex;
}
.photos-about {
    width: 50%;
}
.about-list {
display: flex;
gap: 30px;

}
.about-item {
    width: ((100% - 30px) / 2);
}
.text-about {
    width: 50%;
    padding-left: 30px ;
    margin-right: 100px;
}
.about-subtitle {
color: var(--color-title-dark-btn);
margin-bottom: var(--main-margin);
}
.about-title {
    color: var(--color-title-dark-btn);
    margin-bottom: var(--main-margin);
}
.about-description {
    display: block;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--color-dark-text);
    min-width: 470px;
    margin-bottom: 42px;
    
}
.about-description > span {
    display: block;
font-size: 18px;
line-height: 1.67;
margin-bottom: var(--main-margin);
}

.about-button {
    color: var(--color-title-dark-btn);
}

/*==========PRICES=======*/
.price-section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    background-color: aquamarine;
    background-image: url('../images/prices-fon.jpg');
    max-width: 1600px;
    background-repeat: no-repeat;

}

.price-container {
display: flex;
justify-content: space-between;
margin-bottom: 44px;
}
.price-container-one {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
    background-image: url('../images/mini-bg-price.png');
    
}
.price-container-two {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
    background-image: url('../images/mini-bg-price.png');

}
.price-subtitle {
    color: var(--color-subtitle);
    margin-bottom: var(--main-margin);
}
.price-item {
    display: flex;
justify-content: space-between;
align-items: baseline;

}

.price-item:not(:last-child) {
    margin-bottom: 20px;
}

.price-item::before {
    content: " ";
    display: inline-block;
    height: 1px;
    flex-grow: 1;

    background-color: rgba(157, 164, 189, 0.12);
}

.price-title {
    color: var(--color-light-title);
    margin-bottom: 44px;
} 

.price-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--color-light-text);
}
.price-text:first-child {
    order: -1;
}

.price-button {
   display: block;
    color: var(--color-header-light-btn);
    margin: 0 auto;
    
}

/*=========ADVANTAGES======*/
.advantages-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages-container {
    display: flex;
}
.advantages-left-container {
    width: 50%;
}
.advantages-right-container {
    padding-top: 9px;
    width: 50%;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
}
.adv-item-one {
margin-left: 69px;
margin-bottom: 30px;
margin-right: 30px;
}
.adv-item-two {
margin-top: 35px;
margin-bottom: 30px;
margin-right: 130px;
}
.adv-item-three {
    margin-top: -30px;
margin-left: 69px;
margin-right: 30px;
}
.adv-item-four {
margin-right: 130px;
}
.adv-contain {
    background-color: #F7F7F7;
padding: 20px 24px;
width: 170px;
}

.advantages-item-number {
    display: block;
    text-align: center;
    font-weight: 700;
        font-size: 42px;
        line-height: 1.36;
        letter-spacing: 0.05em;
        color: var(--color-title-dark-btn);
}
.advantages-item-text {
  text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--color-title-dark-btn);
}
.advantages-subtitle {
    color: var(--color-title-dark-btn);
    margin-bottom: var(--main-margin);
}
.advantages-title {
    color: var(--color-title-dark-btn);
    margin-bottom: var(--main-margin);
    max-width: 430px;
}
.advantages-text {
    max-width: 500px;
    font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--color-dark-text);
}

/*========EMPLOYEE========*/
.employee-section {
   background-color: #F7F7F7;
   padding: 120px 0;
}

.employee-subtitle {
color: var(--color-title-dark-btn);
margin-bottom: var(--main-margin);
}

.employee-title {
    color: var(--color-title-dark-btn);
    margin-bottom: 44px;
}

.employee-list {
    display: flex;
    gap: 30px;
}

.employee-container {
padding-top: 30px;
padding-left: 82px;
padding-right: 82px;
}

.employee-item-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
    color: var(--color-title-dark-btn);
}

.employee-item-text {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.icon-list {
    display: flex;
    gap: 10px;
}

.icon-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.icon-item:hover .icon-svg {
    fill: currentColor;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;

    transition: color 300ms ease;
}

.icon-svg {
    fill: #303030;

    transition: fill 300ms ease;
}

.icon-link:hover,
.icon-link:focus {
    color: #FF6C00;
}

.icon-svg:hover,
.icon-svg:focus {
    fill: currentColor;
}
/*=======GALLERY========*/
.gallery-section {
    padding: 120px 0;
     
}
.gallery-subtitle {
    margin-bottom: 44px;
    color: var(--color-title-dark-btn);
}
.gallery-list {
    display: flex;
    gap: 30px;
} 
/*======CONTACTS=====*/
.contact-section {
    padding: 130px 0 120px;
    background-color: #191C26;
    background-image:  url("../images/contact-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
}
.contact-container {
    display: flex;
}
.contact-form {
    width: 50%;
    padding-right: 30px;
}

.input-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.contact-text-field {
    outline: none;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    
    color: #FFFFFF;
    transition: border-color 300ms ease;
}

.contact-text-field:focus {
border-color: #FFFFFF;
}

.contact-text-field::placeholder {
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
}

.contact-input {
width: 270px;  
height: 24px; 
}

.contact-textarea {
    margin-bottom: 44px;
    resize: none;
    width: 100%;
    height: 76px;
}

.form-btn {
    min-width: 160px;
    text-align: center;

    color: #FFFFFF;
}

.left-contact-title {
    margin-bottom: 44px;
}
.contact-place {
    padding-left: 100px;
    padding-right: 100px;
    width: 50%;
}
.right-contact-title {
    margin-bottom: 40px;
}
.contact-title {
color: var(--color-light-title);
}
.contact-address {
    margin-bottom: 70px;
    font-style: normal;
}
.contact-item {
    display: flex;
    align-items: baseline;
}
.contact-item:not(:last-child) {
    margin-bottom: 20px;
}
.contact-icon {
    display: block;
    margin-right: 16px;
}

.contact-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--color-light-text);
}
.contact-tel {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--color-light-text);
}
.contact-mail {
    font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        color: var(--color-light-text);
}
.contact-subtitle {
    color: var(--color-light-title);
    margin-bottom: 20px;
}
.contact-subtitle::before {
    background-color: rgba(157, 164, 189, 0.4);
}

.contact-hours {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    
    color: #9DA4BD;
}

/*=======FOOTER=======*/
.footer-section {
    padding: 56px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-copy {
font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-light-text);
}

.footer-link {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--color-title-dark-btn);
}

.footer-list::before {
    content: " ";
    display: inline-block;
    margin-top: 5px;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: #303030;;
}

.first-link {
    margin-right: 40px;
    transition: color 300ms ease;
}

.footer-link:hover,
.footer-link:focus {
color: var(--accent-color);
}